/* Contenedor principal de la tarjeta */
.enterprisesCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}

/* Encabezado de la tarjeta */
.enterprisesCard__header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.enterprisesCard__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.enterprisesCard__headerDetails {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

.enterprisesCard__sector {
  font-size: 14px;
  color: var(--text-color-secondary);
  font-weight: 600;
}

.enterprisesCard__ownerDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ownerName {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.ownerSpecialty {
  font-size: 12px;
  color: var(--text-color-secondary);
  margin: 5px 0 0 0;
}

/* Cuerpo de la tarjeta */
.enterprisesCard__body {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.enterprisesCard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

.enterprisesCard__description {
  color: white;
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
}

.enterprisesCard__interaction {
  background-color: var(--interaction-bg);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.enterprisesCard__titledescription {
  text-align: center;
  color: white;
  font-family: 700;
}

.enterpriseCard__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.enterpriseCard__img img {
  max-width: 600px;
  width: 100%;
}

/* Estilo de los elementos y mejoras de diseño */
@media (max-width: 768px) {
  .enterprisesCard__headerDetails {
    flex-direction: row;
    justify-content: space-around;
  }

  .enterprisesCard__interaction {
    padding: 10px;
  }
}
